* {
    box-sizing: border-box;
  }

body {
background-color: lightgray;
font-family: 'Roboto Condensed', sans-serif; /* sans-serif is a fallback font- If, for whatever reason, Lato can’t be loaded */
font-size: 18px; /* Sets the font size to 18px */
font-weight: 300; /* Sets the font weight to 300 */
line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }

  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }


  a {
    color: #0000FF;
    text-decoration: none; /* No underlining */
  }
  
  a:visited { /* visited link */
    color: #3a302d;
  }

  a:hover
  a:focus {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

  .profile-picture img {
    height: auto;
    max-width: 450px;
    object-fit: cover;
    border-radius: 100vw;
    aspect-ratio: 1/1;
    }

    .profile-picture {
        display: block;
        text-align: center;
        }


  a:active { /* selected link */
    color: #994c30;
  }

  .logo {
    font-size: large;
    font-weight: bold;
  }

  .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ff7f50;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition-duration: 0.2s;
    transition-property: opacity;
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  .button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
    transition-duration: 0.4s;
    transition-property: background-color;
  }
  .button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }

  header {
    background-color: #ffe4c4;
    padding: 10px 0;
    width: 100%; 
	background: #F8F8F8; 
	border: solid #BDBDBD 0; 
	box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.2)  ; 
    position: fixed
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box div {
    width: 100px;
    height: 100px;
  }
  .container {
    max-width: 1200px;
  }
/*
Colors used:
Primary Color (Purple): #c4c4fc;
Secondary Color (Green): #7fffd4;
*/

/* Layout styling */
.container {
    padding: 0 15px;
  }

  .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
  }

  #work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; } /*adds border bottom and padding specifically to elements with both the work ID and the row class.*/
  
  #hero {
    text-align: center; /* Centers text */
  }
  
  #hero h1 {
    text-align: center; /* Centers text */
  }

  #hero span {
    display: block;
  }
  
  .center {
    text-align: center;
  }
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

  nav > ul > li > a { /*selects links that are list elements within an unordered list within the nav element*/
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4a4a4a;
  }

  nav > ul > li > a:visited {
    color: #ff7f50;
  }

  nav > ul > li > a:hover {
    color: #cc6540;
    text-decoration: underline;
  }

  .navtoggle {
    display: flex;
    flex-direction: column;
    }

  nav > ul > li > a:active {
    color: #994c30;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding-right: 0;
  }
  .navtoggle.responsive li  {
    display: block;
  }
  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }
  #hero {
    background-color: #ffe4c4;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #4a4a4a;
  }
  main {
    padding-top: 48.8px;
  }

  .social.media.icon {
    width: 24px;
  }
  
.about {
text-align: center;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    main {
        padding-top: 72.8px;
        }
    
    header {
      text-align: unset;
      padding: 20px 0;
    }

    nav > ul > li {
        display: inline-block;
      }

    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }

    .navtoggle {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        }

    .navtoggle li:not(:last-child) {
        display: inline-block;
      }

    .navtoggle li:last-child {
        display: none;
      }

    .col-md-6 {
        width: 50%;
      }

    .col-md-12  {
        width: 100%;
      }

    #about-page h3 { margin-top: 0;}
  

  [class*="col-"] { /*it ensures that every class with at least col- in it will be affected. if you were to have col-md-6, col-lg-8, and col-xl-4  All three of them would be floated left*/
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }

    .col-lg-7 {width: 58.33%;}

    .col-lg-5 {width: 41.66%;}

    .col-lg-12  {
        width: 100%;
      }
      
    #about-page h3 { margin-top: 0;}

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
      }
}



/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}


  .berlin-illustrationwidth {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
   
  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation-duration: 10s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }

  .cloud-back {
    animation-duration: 20s;
    animation-name: cloud-move-reverse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  